<div class="dashboard-title">
  <h2>Bookings received</h2>
</div>

<div class="bookings-container">
  <% @bookings_received.each do |booking| %>
    <div class="booking">

      <img src='<%= booking.user.avatar %>' class="avatar-large" />

      <div class="booking-content">
        <p><small><%= booking.user.username %></small></p>
        <p><strong><%= booking.foodtruck.name %></strong> - <%= booking.date %></p>
      </div>

      <div class="booking-actions">
        <% if booking.booking_status == 'Confirmed' %>
          <p style="font-weight: bold; color: green">You accepted this booking</p>
        <% elsif booking.booking_status == 'Declined' %>
          <p style="font-weight: bold; color: red">You declined this booking</p>
        <% else %>
          <%= link_to "Accept or Refuse", edit_foodtruck_booking_path(booking.foodtruck, booking), class: "btn btn-primary" %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>

<div class="line-separator">
  <div class="line"></div>
</div>
