<div class="dashboard-title">
  <h2>My foodtrucks -<%= link_to "Add one", new_foodtruck_path, class: "new-ft-button"%></h2>
</div>

<div class="home-container">
  <% @foodtrucks.each do |foodtruck| %>
    <%= link_to foodtruck_path(foodtruck), class: "link-to" do %>
        <div class="card-foodtruck">

          <% if foodtruck.ftphotos.first %>
            <img src="<%= foodtruck.ftphotos.first.photo %>" />
          <% else %>
            <%= image_tag "profile.png" %>
          <% end %>

          <div class="card-foodtruck-infos">
            <div>
              <h2><%= foodtruck.name %></h2>
              <p><%= foodtruck.category %> - Up to <%= foodtruck.capacity %> persons - <%= foodtruck.price %>€/per person</p>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>

<div class="line-separator">
  <div class="line"></div>
</div>
