<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>

<div class="home-container">

  <!-- Embedded ruby to remove when controller properly set up -->
  <% @foodtrucks = Foodtruck.all %>
  <!-- ----- -->

  <% @foodtrucks.each do |foodtruck| %>
    <!-- Change link_to with the right path: foodtruck_path(foodtruck) -->
    <%= link_to root_path, class: "link-to" do %>
        <div class="card-foodtruck">
          <img src="<%= foodtruck.ftphotos.first.photo %>" />
          <div class="card-foodtruck-infos">
            <div>
              <h2><%= foodtruck.name %></h2>
              <p><%= foodtruck.category %> - Up to <%= foodtruck.capacity %> persons - <%= foodtruck.price %>€/per person</p>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>

</div>
