<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>

<div class="search-bar w-100">
  <%= form_tag root_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a foodtruck"%>
    <%= submit_tag "Search", class: "btn btn-primary", hidden: true %>
  <% end %>
</div>

<div class="home-container">

  <% @foodtrucks.each do |foodtruck| %>
    <%= link_to foodtruck_path(foodtruck), class: "link-to" do %>

        <div class="card-foodtruck">

          <% if foodtruck.ftphotos.first %>
            <img src="<%= foodtruck.ftphotos.first.photo %>" />
          <% else %>
            <%= image_tag "profile.png" %>
          <% end %>

          <div class="card-foodtruck-infos">
            <div>
              <h2><%= foodtruck.name %></h2>
              <p><%= foodtruck.category %> - Up to <%= foodtruck.capacity %> persons - <%= foodtruck.price %>€/per person</p>
            </div>
          </div>

        </div>
    <% end %>
  <% end %>

</div>

<%= javascript_pack_tag 'home' %>
