
<div id="container-new">
<h1>Creating a new foodtruck</h1>
<%= simple_form_for (@foodtruck) do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.input :capacity %>
  <%= f.input :description %>
  <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
<% end %>
</div>
