<%= render "shared/navbar" %>

<div class="show-page-wrapper">

  <div class="row">

    <div class="mb-4 col-4">
      <div class="show-page-cell show-page-cell-text-center foodtruck-show-card">
        <h1> <%= @foodtruck.name %> </h1>
        <h3><%= @foodtruck.category %></h3>
      </div>
    </div>

    <div class="mb-4 col-8">
      <div id="carouselExampleIndicators" class="carousel slide foodtruck-show-card" data-ride="carousel">

        <ol class="carousel-indicators">
          <% @foodtruck.ftphotos.each_with_index do |photo, index| %>
            <% if index == 0 %>
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <% else %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<% index %>"></li>
            <% end %>
          <% end %>
        </ol>

        <div class="carousel-inner">
          <% @foodtruck.ftphotos.each_with_index do |photo, index| %>
            <% if index == 0 %>
              <div class="carousel-item show-page-image active"><img src="<%= photo.photo %>" class="d-block w-100" alt="..."></div>
            <% else %>
              <div class="carousel-item show-page-image"><img src="<%= photo.photo %>" class="d-block w-100" alt="..."></div>
            <% end %>
          <% end %>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>

    <div class="mb-4 col-12">
      <div class="show-page-cell show-page-cell-details foodtruck-show-card">
        <div class="show-page-cell-detail-header">
          <div>
            <p>Price: <%= @foodtruck.price %>€ per person - Capacity: max <%= @foodtruck.capacity %> persons</p>
          </div>
          <div>
            <%= link_to "Book this truck", new_foodtruck_booking_path(@foodtruck), class: "btn btn-primary" %>
          </div>
        </div>
        <div class="show-page-cell-detail-body">
          <p><%= @foodtruck.description %></p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="line-separator">
  <div class="line"></div>
</div>

<div class="bookings-container">

  <% @foodtruck.reviews.each do |review| %>
    <div class="booking">

      <img src='<%= review.user.avatar %>' class="avatar-large" />

      <div class="booking-content">
        <p><small><%= review.user.username %></small></p>
        <p><%= review.content %></p>
      </div>

      <div class="booking-actions">
        <% review.rating.times do %>
          <span><i class="fas fa-star" style="color: orange"></i></span>
        <% end %>
        <% (5-review.rating).times do %>
          <span><i class="fas fa-star" style="color: grey"></i></span>
        <% end %>

      </div>

    </div>
  <% end %>

  <%= link_to "Add review", new_foodtruck_review_path(@foodtruck), class: "btn btn-primary w-100"%>

</div>


