<%= render "shared/navbar" %>

<div class="show-page-wrapper">

  <div class="row">

    <div class="mb-4 col-4">
      <div class="show-page-cell show-page-cell-text-center">
        <h1> <%= @foodtruck.name %> </h1>
        <h3><%= @foodtruck.category %></h3>
      </div>
    </div>

    <div class="mb-4 col-8">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <% @foodtruck.ftphotos.each_with_index do |photo, index| %>
            <% if index == 0 %>
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <% else %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<% index %>"></li>
            <% end %>
          <% end %>
        </ol>

        <div class="carousel-inner">
          <% @foodtruck.ftphotos.each_with_index do |photo, index| %>
            <% if index == 0 %>
              <div class="carousel-item show-page-image active"><img src="<%= photo.photo %>" class="d-block w-100" alt="..."></div>
            <% else %>
              <div class="carousel-item show-page-image"><img src="<%= photo.photo %>" class="d-block w-100" alt="..."></div>
            <% end %>
          <% end %>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>

    <div class="mb-4 col-12">
      <div class="show-page-cell show-page-cell-details">
        <div class="show-page-cell-detail-header">
          <div>
            <p>Price: <%= @foodtruck.price %>€ per person - Capacity: max <%= @foodtruck.capacity %> persons</p>
          </div>
          <div>
            <%= link_to "Book this truck", new_foodtruck_booking_path(@foodtruck), class: "btn btn-primary" %>
          </div>
        </div>
        <div class="show-page-cell-detail-body">
          <p><%= @foodtruck.description %></p>
        </div>
      </div>
    </div>

  </div>
</div>
