<%= render "shared/navbar" %>

<div class="container">

  <!-- 1st block-->
  <div class="row">
    <div class="col-4">
      <div class="bg-white text-dark py-5 px-4 rounded h-100 text-center">
        <h1 class="mb-4"><%= @foodtruck.name %></h1>
        <h2 class="mb-4"><%= @foodtruck.category %></h2>
      </div>
    </div>
    <div class="col-8">
      <img style="height: 400px; width: 100%; background-size: cover;" src="<%= @foodtruck.ftphotos.first.photo %> " alt="">
    </div>

  <!-- 2nd block-->
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="bg-white text-dark rounded h-100 text-center">
          <div class="col-12 bg-secondary d-flex justify-content-between">
            <div class="text-left">
              <h3><%= @foodtruck.price %>€/ per person</h3>
              <h3>Up to <%= @foodtruck.capacity %> persons</h3>
            </div>
            <div class="d-flex align-items-center">
              <%= link_to "Book this foodtruck", new_foodtruck_booking_path(@foodtruck), class: "btn btn-dark" %>
            </div>
          </div>
          <div class="text-left">
        <p id="p-show-page"><%= @foodtruck.description %></p>
        </div>
      </div>
    </div>
  </div>
